
@{
    ViewData["Title"] = "Experience";
}

    <div class="jumbotron">
        <h1 class="display-3">Experience</h1>
        <hr class="my-4">
        <h3>Macon Skate Center | Role-DJ</h3>
        <h4>2018-2019</h4>
        <p> During my time at Macon Skate Center I worked with and guided co-workers to provide excellent customer service tailored to customer needs, generated loyal clientele,operated audio and visual equipment.</p>
        <hr class="my-4">
        <h3>Sonic Drive In | Role-Chef</h3>
        <h4>2017</h4>
        <p>Operated and maintained food preparation equipment, provided customer service, stocked or organized goods all in a fast-paced teamwork-oriented environment. </p>
        <img src="C:\Users\kyler\source\repos\PortfolioProject\images\sonic_hero.png" alt="Sample Photo" />
        <h1 class="display-3">Education</h1>
        <hr class="my-4">
        <h3>Indian Hills Community College</h3>
        <h4>2019</h4>
        <p> At IHCC, I have learned a wide host of different languages and tools, allowed to compete in competitions, participate in clubs, and gain authentic programming experience.</p>
        <hr class="my-4">
        <h3>Macon R-1</h3>
        <h4>2015-2019</h4>
        <p>During my time at Macon R-1 I was able to compete and win different programming competitions, gain software development certificates.  </p>
    </div>

