@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">Hello, World!</h1>
        <p class="lead">Hello! I am Kyler VanDerAa and I am currently a Software Development Major student at Indian Hills Community College.
                I have been studying software development
                for 3 years now starting in highschool. I am currently continuing my education. </p>
        <hr class="my-4">
        <p>I am a dedicated professional looking for a Software Engineer based internship that prioritizes client support, critical thinking, and communication to achieve technology and computer science goals</p>
        <p>As far as motivation goes, in the end I am dedicated to bettering myself and learning as much as I can. I have always had a passion for computer work starting in elementary school when I learned about building computers, from there my curiousity grew as I experienced more and more. Here I am now 10 years later still awestruck by everything that we can do with them.</p>
    </div>
