
@{
    ViewData["Title"] = "Resume";
}

    <div class="jumbotron">
        
            <iframe class="doc" src="https://docs.google.com/document/d/e/2PACX-1vR6FcfVS1hDbq_Ospxf3W6ZZmzlqFRwvAhNMQEzakKbu9Mbv9JQ6KNVWWP8-GAvofHetM1rddHiRvWB/pub?embedded=true"height="800" width="860"></iframe>
        
        </div>
